@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  background-color: #ffffff;
}
body.modal-is-open {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 36px 34px 36px 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
}

.logo {
  display: inline-block;
  font-family: "Homemade Apple", cursive;
  font-size: 18px;
  line-height: 2.17;
  color: #000000;
}
.logo:hover, .logo:focus {
  color: #f7941e;
}

.footer__nav {
  padding-bottom: 43px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #000000;
}

.header__pages {
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  line-height: 1.22;
}

.footer__pages {
  display: flex;
}

.pages__item {
  font-size: 14px;
  line-height: 1.43;
}
.footer__pages .pages__item {
  font-weight: 900;
}

.pages__item:not(:first-child) {
  margin-left: 31px;
}
.footer__pages .pages__item:not(:first-child) {
  margin-left: 81px;
}

.pages__link {
  color: #000000;
}
.pages__link:hover, .pages__link:focus {
  color: #f7941e;
}

.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border: 1px solid #f7941e;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  opacity: 0.6;
}

.header__btn {
  width: 150px;
  color: #f7941e;
  background-color: inherit;
}

.hero__btn {
  margin-top: 52px;
  width: 200px;
  color: #fff;
  background-color: #f7941e;
}

.feature__btn {
  margin-top: 35px;
  width: 200px;
  color: #f7941e;
  background-color: inherit;
}

.contact-us__btn {
  width: 200px;
}
.contact-us__btn--black {
  color: #fff;
  background-color: #231f20;
}
.contact-us__btn--white {
  border: 1px solid #000000;
  color: #000000;
  background-color: inherit;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f2;
}

.hero__content {
  margin-left: auto;
  margin-right: auto;
}

.hero__img {
  width: 50%;
}

.hero__title {
  max-width: 433px;
  font-size: 56px;
  line-height: 1.23;
}

.hero__descr {
  margin-top: 36px;
  max-width: 422px;
  font-size: 20px;
  line-height: 1.4;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f2;
}

.feature__content {
  margin-left: auto;
  margin-right: auto;
}

.feature__img {
  width: 50%;
}

.feature__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.41;
}

.feature__descr {
  margin-top: 23px;
  max-width: 441px;
  font-size: 20px;
  line-height: 1.4;
  font-size: 20px;
  line-height: 1.4;
}

.section {
  padding-top: 96px;
  padding-bottom: 137px;
}

.section__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}

.container {
  padding: 0 135px;
}

.contact-us__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.posts__descr {
  margin-top: 23px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.posts__catalog {
  margin-top: 64px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.catalog__item {
  width: calc((100% - 90px) / 4);
}
.catalog__item:hover, .catalog__item:focus {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.catalog__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.catalog__content {
  padding: 24px;
  flex-grow: 1;
  background-color: #fafafa;
}
.catalog__content .catalog__item:hover, .catalog__item:focus .catalog__content {
  background-color: #ffffff;
}

.catalog__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.catalog__btn {
  margin-top: 74px;
  font-size: 14px;
  line-height: 1.36;
}

.catalog__details {
  margin-top: 74px;
  width: 100%;
  flex-grow: 1;
}

.catalog__summary {
  margin-bottom: 30px;
  display: block;
  cursor: pointer;
}
.catalog__summary::marker {
  display: none;
}
.catalog__summary::after {
  margin-left: 10px;
  display: inline-block;
  content: "›";
}
.catalog__details[open] > .catalog__summary::after {
  transform: rotate(90deg);
}

.contact-us {
  padding-top: 81px;
  padding-bottom: 69px;
  background-color: #f7941e;
}

.contact-us__content {
  font-size: 32px;
  line-height: 1.41;
}

.contact-us__btns {
  display: flex;
}

.contact-us__btn-item:not(:first-child) {
  margin-left: 16px;
}

.blog {
  padding-top: 88px;
  padding-bottom: 80px;
}

.blog__descr {
  margin-top: 23px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.blog__articles {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.blog__item {
  width: calc((100% - 30px) / 2);
}

.blog__item:hover,
.blog__item:focus {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.top-article {
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #231f20;
}

.top-article__content {
  margin-left: 78px;
  padding-top: 63px;
  padding-bottom: 49px;
  width: 100%;
}

.top-article__descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.43;
}

.top-article__title {
  margin-top: 27px;
  max-width: 492px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.21;
}

.top-article__link {
  margin-top: 60px;
  display: inline-block;
  font-weight: 300;
  color: #fff;
}
.top-article__link:hover, .top-article__link:focus {
  color: #f7941e;
}

.article {
  padding: 48px 48px 50px 48px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.article__descr {
  margin-top: 16px;
  margin-bottom: auto;
  line-height: 1.39;
}

.article__title {
  font-size: 24px;
  line-height: 1.42;
}

.article__link {
  margin-top: 16px;
  display: inline-block;
  color: #000000;
}
.article__link:hover, .article__link:focus {
  color: #f7941e;
}

.footer {
  padding: 106px 220px 35px;
  text-align: center;
  background-color: #fafafa;
}

.footer__copyright {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.43;
}

.footer__social {
  margin-top: 55px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:first-child) {
  margin-left: 25px;
}

.social__link {
  display: inline-block;
  color: #231f20;
  background-color: #ffffff;
  border-radius: 50%;
}

.social__icon {
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  color: #f7941e;
}

.rights {
  margin-left: 14px;
  display: flex;
}

.rights__separator {
  margin-left: 4px;
  margin-right: 4px;
}

.rights__link {
  color: #000000;
}
.rights__link:hover, .rights__link:focus {
  color: #f7941e;
}

/*# sourceMappingURL=main.css.map */
