.btn {
  padding-top: 15px;
  padding-bottom: 15px;

  text-transform: uppercase;

  border: 1px solid getBorderColor('accent');
  border-radius: 5px;
}

.header__btn {
  width: 150px;

  color: getTextColor('accent');
  background-color: inherit;
}

.hero__btn {
  margin-top: 52px;

  width: 200px;

  color: getTextColor('secondary');
  background-color: getBackgroundColor('accent');
}

.feature__btn {
  margin-top: 35px;

  width: 200px;

  color: getTextColor('accent');
  background-color: inherit;
}
