.posts__catalog {
  margin-top: 64px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.catalog__item {
  width: calc((100% - 3 * 30px) / 4);

  &:hover,
  &:focus {
    filter: $card-shadow;
  }
}

.catalog__wrap {
  height: 100%;

  display: flex;
  flex-direction: column;

  height: 100%;
}

.catalog__content {
  padding: 24px;

  flex-grow: 1;

  background-color: getBackgroundColor('secondary');

  .catalog__item:hover,
  .catalog__item:focus & {
    background-color: getBackgroundColor('primary');
  }
}

.catalog__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.catalog__btn {
  margin-top: 74px;

  font-size: 14px;
  line-height: 1.36;
}

.catalog__details {
  margin-top: 74px;

  width: 100%;

  flex-grow: 1;
}

.catalog__summary {
  margin-bottom: 30px;

  display: block;

  &::marker {
    display: none;
  }

  &::after {
    margin-left: 10px;
    display: inline-block;
    content: '\203A';
  }

  .catalog__details[open] > &::after {
    transform: rotate(90deg);
  }
}
