.footer {
  padding: 106px 220px 35px;

  text-align: center;

  background-color: getBackgroundColor('secondary');
}

.footer__copyright {
  margin-top: 72px;

  display: flex;
  justify-content: center;

  font-size: 14px;
  line-height: 1.43;
}
