.logo {
  display: inline-block;

  font-family: $logo-font;
  font-size: 18px;
  line-height: 2.17;

  color: getTextColor("primary");

  &:hover,
  &:focus {
    color: getTextColor("accent");
  }
}
