.header__pages {
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;

  line-height: 1.22;
}

.footer__pages {
  display: flex;
}

.pages__item {
  font-size: 14px;
  line-height: 1.43;

  .footer__pages & {
    font-weight: 900;
  }
}

.pages__item:not(:first-child) {
  margin-left: 31px;

  .footer__pages & {
    margin-left: 81px;
  }
}

.pages__link {
  color: getTextColor("primary");

  &:hover,
  &:focus {
    color: getTextColor("accent");
  }
}
